body{
	background-color:lightslategray;
}

h{
	font:arial;
	font-size:36px;
	text-align: center;
}

p{
	text-indent: 30px;
	font: arial;
	font-size: 18px;
	align-content: center;
	
}

div.a{
	text-align: center;
}

.footer{
    position:fixed;
	font-size: 12px;
	font-style: arial;      
    bottom: 5px; 
}